asgiref==3.3.1
Django==3.1.4
django-debug-toolbar==3.2
django-extensions==3.1.0
Faker==5.0.2
flake8==3.8.4
flake8-builtins==1.5.3
flake8-django==1.1.1
flake8-import-order==0.18.1
flake8-print==4.0.0
graphviz==0.16
mccabe==0.6.1
pycodestyle==2.6.0
pydot==1.4.1
pyflakes==2.2.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.4
six==1.15.0
sqlparse==0.4.1
text-unidecode==1.3
